<p id="notice"><%= notice %></p>

<h1>Hippy Co-op Members</h1>

<table>
  <thead>
    <tr>
      <th>Members</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.sort {|a,b| b.name <=> a.name }.each do |member| %>
      <tr>
        <td><%= link_to member.name, member %></td>
        <td><%= link_to 'Delete', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>

